.footer {
    background: linear-gradient(#ffa8B6, #815864);
    display: block;
    color: rgb(78, 48, 48);
    display: grid;
    justify-items: center;
    align-items: center;
    height: 100px;
    padding: 1rem;
    bottom: 0;
}

/* #ffa8B6, #a28089 */