.header {
    background: linear-gradient(#51e2f5, #9df9ef);
    display: block;
    color: rgb(155, 96, 96);
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: space-between;
    align-items: center;
    height: 150px;
    padding: 1rem;
}

.header p {
    text-align: right;
    font-family: Helvetica;
    color: rgb(124, 82, 82);
    /* font-weight: bold; */
}

.header h1 {
    font-size: 40px;
    font-family: Helvetica;
    display: inline;
    text-align: center;
}